In [2]:
import pandas as pd

hexsha_df = pd.read_csv('../../../../sample_data/data/camel_on_spiral/hexsha_filename_camel.txt', header=None, names=["id","commit_hash", "before_filename", "after_filename","change_type"])
label_df = pd.read_csv('../label/label_camel.csv')
vec_df = pd.read_csv('../resource/vec_camel_3.txt',header=None)

KeyboardInterrupt:

In [81]:
hexsha_df.head(5)

,id,commit_hash,before_filename,after_filename,change_type
0,1,77b260b65ba821b3443d922320cc3d9b708c8d83,camel/camel-core/src/main/java/org/apache/came...,camel/camel-core/src/main/java/org/apache/came...,A
1,2,77b260b65ba821b3443d922320cc3d9b708c8d83,camel/camel-core/src/main/java/org/apache/came...,camel/camel-core/src/main/java/org/apache/came...,A
2,3,77b260b65ba821b3443d922320cc3d9b708c8d83,camel/camel-core/src/main/java/org/apache/came...,camel/camel-core/src/main/java/org/apache/came...,A
3,4,77b260b65ba821b3443d922320cc3d9b708c8d83,camel/camel-core/src/main/java/org/apache/came...,camel/camel-core/src/main/java/org/apache/came...,A
4,5,77b260b65ba821b3443d922320cc3d9b708c8d83,camel/camel-core/src/main/java/org/apache/came...,camel/camel-core/src/main/java/org/apache/came...,A

In [82]:
label_df.head(5)

                                commit_hash  contains_bug
0  179b7ece6358193accd5759d5e307574b395a37d         False
1  e2d6c518df53fa0d06a7d308acff377993e80278         False
2  72bc6b0783cca7197f98911c2e88506789e0b960         False
3  630f1b90c8b007b62b514f579a2b3fca74fbc5d2         False
4  574012e334254dd94673745e44247a6e42361760         False

In [90]:
vec_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,1993,1994,1995,1996,1997,1998,1999,2000,idx,idx2
0,1-1,95,13,1,20,1,12,4,11,327,...,0,0,0,0,0,0,0,0,1,1
1,2-1,95,13,1,20,1,12,4,11,327,...,0,0,0,0,0,0,0,0,2,1
2,3-1,95,13,1,20,1,12,4,8,52,...,0,0,0,0,0,0,0,0,3,1
3,4-1,95,13,1,20,1,12,4,11,327,...,0,0,0,0,0,0,0,0,4,1
4,5-1,95,13,1,20,1,12,4,11,21,...,0,0,0,0,0,0,0,0,5,1

In [91]:
vec_df[['id', 'id2']] = vec_df[0].str.split('-', expand=True)
vec_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,1995,1996,1997,1998,1999,2000,idx,idx2,id,id2
0,1-1,95,13,1,20,1,12,4,11,327,...,0,0,0,0,0,0,1,1,1,1
1,2-1,95,13,1,20,1,12,4,11,327,...,0,0,0,0,0,0,2,1,2,1
2,3-1,95,13,1,20,1,12,4,8,52,...,0,0,0,0,0,0,3,1,3,1
3,4-1,95,13,1,20,1,12,4,11,327,...,0,0,0,0,0,0,4,1,4,1
4,5-1,95,13,1,20,1,12,4,11,21,...,0,0,0,0,0,0,5,1,5,1

In [85]:
desired_columns = ['idx', 'idx2'] + list(vec_df.columns[vec_df.columns.isin(['idx', 'idx2', 0]) == False])
vec_df2 = vec_df[desired_columns]

In [86]:
vec_df2

,idx,idx2,1,2,3,4,5,6,7,8,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,1,1,95,13,1,20,1,12,4,11,...,0,0,0,0,0,0,0,0,0,0
1,2,1,95,13,1,20,1,12,4,11,...,0,0,0,0,0,0,0,0,0,0
2,3,1,95,13,1,20,1,12,4,8,...,0,0,0,0,0,0,0,0,0,0
3,4,1,95,13,1,20,1,12,4,11,...,0,0,0,0,0,0,0,0,0,0
4,5,1,95,13,1,20,1,12,4,11,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469851,215351,3,1,21,98,85,168,19,4,8,...,0,0,0,0,0,0,0,0,0,0
469852,215352,1,1,17,1,51,58,497,1,12,...,0,0,0,0,0,0,0,0,0,0
469853,215352,2,1,51,58,1,1382,1,155,1,...,0,0,0,0,0,0,0,0,0,0
469854,215353,1,1,17,1,51,58,497,1,12,...,0,0,0,0,0,0,0,0,0,0
469855,215353,2,1,51,58,1,1382,1,155,1,...,0,0,0,0,0,0,0,0,0,0

In [87]:
vec_df[1]

0         95
1         95
2         95
3         95
4         95
          ..
469851     1
469852     1
469853     1
469854     1
469855     1
Name: 1, Length: 469856, dtype: int64

In [88]:
df = pd.merge(hexsha_df, label_df, on='commit_hash', how='left')

In [89]:
df.head(5)

,id,commit_hash,before_filename,after_filename,change_type,contains_bug
0,1,77b260b65ba821b3443d922320cc3d9b708c8d83,camel/camel-core/src/main/java/org/apache/came...,camel/camel-core/src/main/java/org/apache/came...,A,True
1,2,77b260b65ba821b3443d922320cc3d9b708c8d83,camel/camel-core/src/main/java/org/apache/came...,camel/camel-core/src/main/java/org/apache/came...,A,True
2,3,77b260b65ba821b3443d922320cc3d9b708c8d83,camel/camel-core/src/main/java/org/apache/came...,camel/camel-core/src/main/java/org/apache/came...,A,True
3,4,77b260b65ba821b3443d922320cc3d9b708c8d83,camel/camel-core/src/main/java/org/apache/came...,camel/camel-core/src/main/java/org/apache/came...,A,True
4,5,77b260b65ba821b3443d922320cc3d9b708c8d83,camel/camel-core/src/main/java/org/apache/came...,camel/camel-core/src/main/java/org/apache/came...,A,True

In [1]:
df['contains_bug'].value_counts

NameError: name 'df' is not defined

In [3]:
import pandas as pd
label_df = pd.read_csv('../label/label_camel.csv')

In [6]:
label_df['contains_bug'].value_counts() / label_df.shape[0]

contains_bug
False    0.759661
True     0.240339
Name: count, dtype: float64

In [7]:
from spiral import ronin

In [8]:
df = pd.read_csv('../../../../sample_data/data/camel_on_spiral/hexsha_filename_camel.txt', header=None, names=["id","commit_hash", "before_filename", "after_filename","change_type"])

In [9]:
afterfile = df['after_filename'][0]

In [10]:
afterfile

'camel/camel-core/src/main/java/org/apache/camel/Endpoint.java'

In [12]:
ronin.split(afterfile)

['camel',
 'camel',
 '-',
 'core',
 'src',
 'main',
 'java',
 'org',
 'apache',
 'camel',
 'Endpoint',
 'java']